<%- include('head.ejs') %>

<div id="layout-wrapper">
  <header id="page-topbar">
    <div class="layout-width">
      <div class="navbar-header">
        <div class="d-flex">
          <div class="navbar-brand-box horizontal-logo">
            <a href="index.html" class="logo logo-dark">
              <span class="logo-sm">
                <img src="theme/assets/images/logo-sm.png" alt="" height="22" />
              </span>
              <span class="logo-lg">
                <img
                  src="/theme/assets/images/logo-dark.png"
                  alt=""
                  height="17"
                />
              </span>
            </a>

            <a href="index.html" class="logo logo-light">
              <span class="logo-sm">
                <img
                  src="/theme/assets/images/logo-sm.png"
                  alt=""
                  height="22"
                />
              </span>
              <span class="logo-lg">
                <img
                  src="/theme/assets/images/logo-light.png"
                  alt=""
                  height="17"
                />
              </span>
            </a>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="dropdown d-md-none topbar-head-dropdown header-item">
            <button
              type="button"
              class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
              id="page-header-search-dropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="bx bx-search fs-22"></i>
            </button>
            <div
              class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
              aria-labelledby="page-header-search-dropdown"
            >
              <form class="p-3">
                <div class="form-group m-0">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search ..."
                      aria-label="Recipient's username"
                    />
                    <button class="btn btn-primary" type="submit">
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="dropdown ms-1 topbar-head-dropdown header-item">
            <button
              type="button"
              class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                id="header-lang-img"
                src="/theme/assets/images/flags/us.png"
                alt="Header Language"
                height="20"
                class="rounded"
              />
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item language py-2"
                data-lang="en"
                title="English"
              >
                <img
                  src="/theme/assets/images/flags/us.svg"
                  alt="user-image"
                  class="me-2 rounded"
                  height="18"
                />
                <span class="align-middle">English</span>
              </a>
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item language"
                data-lang="it"
                title="Italian"
              >
                <img
                  src="/theme/assets/images/flags/italy.svg"
                  alt="user-image"
                  class="me-2 rounded"
                  height="18"
                />
                <span class="align-middle">Bangla</span>
              </a>
            </div>
          </div>
          <div class="dropdown ms-sm-3 header-item topbar-user">
            <button
              type="button"
              class="btn"
              id="page-header-user-dropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="d-flex align-items-center">
                <img
                  class="rounded-circle header-profile-user"
                  src="/theme/assets/images/users/avatar-1.jpg"
                  alt="Header Avatar"
                />
                <span class="text-start ms-xl-2">
                  <span
                    class="d-none d-xl-inline-block ms-1 fw-medium user-name-text"
                    >Mohona Chowdhury</span
                  >
                  <span
                    class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text"
                    >Founder</span
                  >
                </span>
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <h6 class="dropdown-header">Welcome Mohona!</h6>
              <a class="dropdown-item" href="auth-logout-basic.html"
                ><i
                  class="mdi mdi-logout text-muted fs-16 align-middle me-1"
                ></i>

                <button
                  @click="/login"
                  class="align-middle"
                  data-key="t-logout"
                >
                  Logout
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
      <!-- Dark Logo-->
      <a href="index.html" class="logo logo-dark">
        <span class="logo-sm">
          <img src="/theme/assets/images/logo-sm.png" alt="" height="22" />
        </span>
        <span class="logo-lg">
          <img src="/theme/assets/images/logo-dark.png" alt="" height="17" />
        </span>
      </a>
      <!-- Light Logo-->
      <a href="index.html" class="logo logo-light">
        <span class="logo-sm">
          <img src="/theme/assets/images/logo-sm.png" alt="" height="22" />
        </span>
        <span class="logo-lg">
          <img src="/theme/assets/images/logo-light.png" alt="" height="17" />
        </span>
      </a>
      <button
        type="button"
        class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
        id="vertical-hover"
      >
        <i class="ri-record-circle-line"></i>
      </button>
    </div>

    <div id="scrollbar">
      <div class="container-fluid">
        <div id="two-column-menu"></div>
        <ul class="navbar-nav" id="navbar-nav">
          <li class="menu-title"><span data-key="t-menu">Menu</span></li>
          <li class="nav-item">
            <a
              class="nav-link menu-link"
              href="#sidebarDashboards"
              data-bs-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="sidebarDashboards"
            >
              <i class="las la-tachometer-alt"></i>
              <span data-key="t-dashboards">Dashboards</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarDashboards"></div>
          </li>
          <!-- end Dashboard Menu -->

          <!-- end Dashboard Menu -->
        </ul>
      </div>
      <!-- Sidebar -->
    </div>
  </div>

  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div
              class="page-title-box d-sm-flex align-items-center justify-content-between"
            >
              <h4 class="mb-sm-0">Dashboard</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="h-100">
              <div class="row mb-3 pb-1">
                <div class="col-12">
                  <div
                    class="d-flex align-items-lg-center flex-lg-row flex-column"
                  >
                    <div class="flex-grow-1">
                      <h4 class="fs-16 mb-1">Hello, Mohona!</h4>
                      <p class="text-muted mb-0">
                        Here's what's happening with your store today.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-animate">
                    <div class="card-body">
                      <div class="col-auto">
                        <form action="/registration">
                          <label>Add worker: </label><br />
                          <input
                            name="name"
                            type="text"
                            placeholder="Enter worker name"
                          />
                          <button type="submit" class="btn btn-soft-success">
                            <i class="ri-add-circle-line align-middle me-1"></i>
                            Add Worker
                          </button>
                        </form>
                      </div>
                      <div
                        class="d-flex align-items-end justify-content-between mt-4"
                      ></div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6">
                  <!-- card -->
                  <div class="card card-animate">
                    <div class="card-body">
                      <div class="col-auto">
                        <form action="/registration">
                          <label>Add Client: </label><br />
                          <input
                            name="name"
                            type="text"
                            placeholder="enter worker name"
                          />
                          <button type="submit" class="btn btn-soft-success">
                            <i class="ri-add-circle-line align-middle me-1"></i>
                            Add Client
                          </button>
                        </form>
                      </div>
                      <div
                        class="d-flex align-items-end justify-content-between mt-4"
                      ></div>
                    </div>
                  </div>
                  <!-- end card -->
                </div>

                <div class="col-xl-3 col-md-6">
                  <div class="card card-animate">
                    <div class="card-body">
                      <div class="col-auto">
                        <form action="/saveWorker">
                          <label>Add Task: </label><br />
                          <input
                            name="name"
                            type="text"
                            placeholder="enter task name"
                          />
                          <button type="submit" class="btn btn-soft-success">
                            <i class="ri-add-circle-line align-middle me-1"></i>
                            Add task
                          </button>
                        </form>
                      </div>
                      <div
                        class="d-flex align-items-end justify-content-between mt-4"
                      ></div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6">
                  <div class="card card-animate">
                    <div class="card-body">
                      <div class="col-auto">
                        <form action="/getAllWorkers">
                          <button type="submit" class="btn btn-soft-success">
                            <i class="ri-add-circle-line align-middle me-1"></i>
                            Get all workers
                          </button>
                        </form>
                      </div>
                      <div
                        class="d-flex align-items-end justify-content-between mt-4"
                      ></div>
                    </div>
                  </div>

                  <div class="card card-animate">
                    <div class="card-body">
                      <div class="col-auto">
                        <form action="/deleteSingleWorker">
                          <label>Delete single worker: </label><br />
                          <input
                            name="name"
                            type="text"
                            placeholder="enter worker name"
                          />
                          <button type="submit" class="btn btn-soft-success">
                            <i class="ri-add-circle-line align-middle me-1"></i>
                            Delete single worker
                          </button>
                        </form>
                      </div>
                      <div
                        class="d-flex align-items-end justify-content-between mt-4"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-auto layout-rightside-col">
            <div class="overlay"></div>
            <div class="layout-rightside">
              <div class="card h-100 rounded-0">
                <div class="card-body p-0">
                  <div
                    data-simplebar
                    style="max-height: 410px"
                    class="p-3 pt-0"
                  ></div>

                  <div
                    class="card sidebar-alert bg-light border-0 text-center mx-4 mb-0 mt-3"
                  ></div>
                </div>
              </div>
              <!-- end card-->
            </div>
            <!-- end .rightbar-->
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © Inge Bra Bygg AB.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Design & Develop by IT Högskolan Students (Nabhan & Mohona)
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<%- include('footer.ejs') %>
