 <!-- JAVASCRIPT -->
 <script src="/theme/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/theme/assets/libs/simplebar/simplebar.min.js"></script>
 <script src="/theme/assets/libs/node-waves/waves.min.js"></script>
 <script src="/theme/assets/libs/feather-icons/feather.min.js"></script>
 <script src="/theme/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
 <script src="/theme/assets/js/plugins.js"></script>

 <!-- apexcharts -->
 <script src="/theme/assets/libs/apexcharts/apexcharts.min.js"></script>

 <!-- Vector map-->
 <script src="/theme/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
 <script src="/theme/assets/libs/jsvectormap/maps/world-merc.js"></script>

 <!--Swiper slider js-->
 <script src="/theme/assets/libs/swiper/swiper-bundle.min.js"></script>

 <!-- Dashboard init -->
 <script src="/theme/assets/js/pages/dashboard-ecommerce.init.js"></script>

 <!-- App js -->
 <script src="/theme/assets/js/app.js"></script>
</body>


<!-- Mirrored from themesbrand.com/velzon/html/modern/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 May 2022 11:10:25 GMT -->
</html>